<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Transport Order</title>
</head>
<body>
    <div>
        <strong>Dear $$FIRST_NAME$$</strong>
        <br />
        <p>
            We would like to confirm your shipment as follows:
        </p>
        <table>
            <tr>
                <td><strong>Category</strong></td>
                <td>$$CATEGORY$$</td>
            </tr>
            <tr>
                <td><strong>Goods decription</strong></td>
                <td>$$GOODS_DESCRIPTION$$</td>
            </tr>
            <tr>
                <td><strong>Planned shipment date</strong></td>
                <td>$$PLANNED_SHIPMENT_DATE$$</td>
            </tr>
            <tr>
                <td><strong>Origin city</strong></td>
                <td>$$ORIGIN_CITYY$$</td>
            </tr>
            <tr>
                <td><strong>Origin country</strong></td>
                <td>$$ORIGIN_COUNTRY$$</td>
            </tr>
            <tr>
                <td><strong>Destination city</strong></td>
                <td>$$DESTINATION_CITY$$</td>
            </tr>
            <tr>
                <td><strong>Destination country</strong></td>
                <td>$$DESTINATION_COUNTRY$$</td>
            </tr>
            <tr>
                <td><strong>Number of packages</strong></td>
                <td>$$NUMBER_OF_PACKAGES$$</td>
            </tr>
            <tr>
                <td><strong>Gross weight (Kgs)</strong></td>
                <td>$$GROSS_WEIGHT$$</td>
            </tr>
            <tr>
                <td><strong>Volumetric weight (cubic meters)</strong></td>
                <td>$$VOLUMETRIC_WEIGHT$$</td>
            </tr>
        </table>

        <br />
        Regards,
        <br /><br />
        Tranyr Logistics
    </div>
</body>
</html>
