@using TranyrLogistics.Views.Helpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insurance Request</title>
</head>
<body>
    <div>
        <strong>Hi</strong>
        <br />
        <p>
            An insurance request has been made for the shipment Ref: <a href="/Shipment/Details/$$SHIPMENT_ID$$>$$SHIPMENT_REF$$"</a> by customer $$CUSTOMER_NAME$$.            
        </p>

        <br />
        Regards,
        <br /><br />
        Blue Skies
    </div>
</body>
</html>
