<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quotation</title>
</head>
<body>
    <div>
        <strong>Dear $$FIRST_NAME$$</strong>
        <br />
        <p>
            Thank you for your interest in our services, please find attached our quotation for your request.
        </p>

        <br />
        Regards,
        <br /><br />
        Tranyr Logistics
    </div>
</body>
</html>
