@if (Request.IsAuthenticated) {
    <text>
        Hello, <strong>@{ @User.Identity.Name }</strong>.
        @using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Log in", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
