@using TranyrLogistics.Views.Helpers;

@{
    List<TranyrLogistics.Models.CustomerConfirmation> customerConfirmations = ViewBag.CustomerConfirmations;
}

@if (customerConfirmations.Count > 0)
{
    <table>
        <tr>
            <th>
                Transport Order
            </th>
            <th>
                Date Sent
            </th>
        </tr>

        @foreach (var item in customerConfirmations)        
        {
            if (item.ActualFileName != string.Empty)
            {
                <tr>
                    <td>
                        @Html.SecureActionLink(item.ActualFileName, "DownloadQuotation", "Enquiry", new { id = item.ID })
                    </td>
                    <td>
                        @Html.Raw(item.CreateDate)
                    </td>
                </tr>          
            }
        }
    </table>
}
